@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --PRIMARY: #1f1f1f;
  --SECONDARY: #2f2f2f;
  --TERTIARY: #4d5862;
  --TEXT-DIM-ACTIVE: #ddd;
  --TEXT-ACTIVE: #e9eef2;
  --CHATAK: #5f25a6;
  --CHATAK-ACTIVE: #b578ff;
  --MAX-WIDTH: calc(1440px - 32px);
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--PRIMARY);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--SECONDARY);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--CHATAK);
}

#root,
html,
body {
  height: fit-content;
}

#root > * {
  padding: 0 16px;
}
/* global css */
* {
  box-sizing: border-box;
}
input,
button {
  outline: none;
  border: none;
}

button:active {
  transform: scale(0.98);
}

.blur-img {
  filter: blur(4px);
}

body {
  background-color: var(--PRIMARY);
}

.home {
  width: 100%;
  max-width: var(--MAX-WIDTH);
  margin: auto;
}

.hover-active:hover {
  color: var(--TEXT-ACTIVE);
}

.active {
  color: var(--TEXT-ACTIVE);
}

/* ================navbar css start================ */
nav {
  top: 0;
  z-index: 1;
  background-color: var(--PRIMARY);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: 80px;
  margin: auto;
  padding: 0 16px;
}

.navbar-sticky{
  position: sticky;
}

.logo.link {
  margin-right: 40px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.nav-lhs,
.nav-rhs {
  display: flex;
  align-items: center;
}

.dark-light-toggle {
  margin-left: 32px;
  font-size: 24px;
  cursor: pointer;
  color: var(--TERTIARY);
}

.dark-light-toggle:hover {
  color: var(--TEXT-ACTIVE);
}

.link-container {
  display: flex;
  margin-left: 16px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.nav-link {
  padding: 8px;
  margin: 8px;
  display: block;
  color: var(--TERTIARY);
}

.nav-link.active {
  color: var(--TEXT-ACTIVE);
}

.nav-link:hover {
  color: var(--TEXT-ACTIVE);
}
/* ================navbar css end================ */

/* search bar css start */
.nav-search-bar {
  position: relative;
}

.nav-search-icon {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  color: var(--SECONDARY);
}

.nav-search-bar-input {
  width: 240px;
  height: 32px;
  font-size: 16px;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 10px;
  background-color: transparent;
  border: 2px solid var(--SECONDARY);
  color: var(--TERTIARY);
}

.nav-search-bar-input:focus {
  color: var(--TEXT-ACTIVE);
}

.nav-search-bar-input:focus + .nav-search-icon {
  color: var(--TEXT-ACTIVE);
}
/* search bar css end */

/* diffuse slider css start */
.diffuse-slider {
  width: 100%;
  height: 448px;
  background-color: var(--TERTIARY);
  position: relative;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
}

.diffuse-blur-bg {
  width: 100%;
  height: 100%;
  filter: blur(8px);
}

.diffuse-blur-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  zoom: 1;
}

.diffuse-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--PRIMARY);
  opacity: 0.6;
}

.diffuse-content {
  position: absolute;
  top: 50%;
  left: 48px;
  color: var(--TEXT-ACTIVE);
  transform: translateY(-50%);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  justify-content: space-between;
}

.diffuse-title {
  margin: 8px auto;
}
.diffuse-description {
  margin: 16px auto;
  max-width: 560px;
}
.diffuse-read-now-btn {
  display: block;
  width: fit-content;
  text-decoration: none;
  line-height: 40px;
  padding: 0 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--CHATAK);
  color: var(--TEXT-ACTIVE);
  margin-top: 24px;
  font-family: "Poppins", sans-serif;
}

.diffuse-content-lhs {
  padding-top: 32px;
}

.diffuse-content-rhs {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.diffuse-cover-img {
  height: auto;
  scale: 2.2;
  object-fit: cover;
  width: 200px;
  transform: rotate(15deg);
  opacity: 0.9;
}

.diffuse-nav-btn {
  background: none;
  margin-right: 8px;
  cursor: pointer;
  color: var(--TEXT-ACTIVE);
  font-size: 24px;
  margin-top: 32px;
}

/* diffuse slider css end */

/* category pill css start */

.categories-strip {
  background-color: var(--PRIMARY);
  height: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: var(--MAX-WIDTH);
  margin: auto;
}

.categories-strip-sticky {
  position: sticky;
  top: 80px;
  z-index: 1;
  background-color: var(--PRIMARY);
  height: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: var(--MAX-WIDTH);
  margin: auto;
}

.category-pill {
  padding: 0 10px;
  min-width: 40px;
  text-align: center;
  line-height: 30px;
  border-radius: 6px;
  color: var(--TEXT-DIM-ACTIVE);
  font-weight: 400;
  font-size: 13px;
  display: inline-block;
  background: var(--SECONDARY);
  text-decoration: none;
  margin-right: 12px;
  margin-bottom: 16px;
}
/* category pill css end */

/* carousel css start */
.carousel {
  width: 100%;
  max-width: 100%;
  margin-top: 32px;
}
.carousel-heading-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carousel-heading {
  color: var(--TEXT-DIM-ACTIVE);
}

.carousel-slider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carousel-slider::-webkit-scrollbar {
  height: 0;
}

.carousel-slide {
  height: 240px;
  margin-right: 16px;
  cursor: pointer;
  /* transform: translateX(-100%); */
}

.carousel-btns {
  display: flex;
}
.carousel-btns.fa-chevron-left,
.carousel-btns.fa-chevron-right {
  color: var(--TEXT-DIM-ACTIVE);
  margin-left: 16px;
  cursor: pointer;
  font-size: 24px;
}
/* carousel css end */

/* latest updates cum most viewed start */
.latest-updates-cum-most-viewed {
  display: flex;
}
/* latest updates cum most viewed end */

/* latest updates css start */
.latest-updates {
  color: var(--TEXT-DIM-ACTIVE);
  margin: 64px 0 0;
  width: 64%;
}
.latest-updates-body {
  display: flex;
  flex-wrap: wrap;
}
.latest-updates-heading {
  color: var(--TEXT-DIM-ACTIVE);
}
.update-item {
  display: flex;
  margin: 0 16px 16px 0;
  background-color: var(--SECONDARY);
  padding: 16px;
  border-radius: 6px;
}
.update-item-lhs.img {
  height: 200px;
  margin-right: 0;
}

.update-heading {
  margin-top: 0;
}
.update-item-lhs {
  margin-right: 16px;
}
.update-item-genere {
  font-size: 14px;
  margin: -8px 0 24px;
}
.update-items-chapters.chapter,
.most-viewed-chapter-updates > a {
  color: var(--CHATAK-ACTIVE);
  display: block;
  margin: 16px 0;
  font-size: 12px;
  text-decoration: none;
}

.update-chapter-separator {
  border-bottom: 1px dashed var(--TERTIARY);
}

/* latest updates css end */

/* most viewed css start */
.most-viewed {
  width: 30%;
  padding: auto 16px;
  margin: 64px 0 0;
  color: var(--TEXT-DIM-ACTIVE);
}

.most-viewed-body {
}

.most-viewed-time-strip {
  display: flex;
  margin-bottom: 8px;
}

.most-viewed-time-strip-item {
  width: 33%;
  height: 48px;
  background-color: var(--SECONDARY);
  margin-bottom: 16px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.most-viewed-time-strip-item:last-child {
  margin-right: 0;
}

.most-viewed-time-strip-item[data-active="true"] {
  background-color: var(--CHATAK);
}

.most-viewed-manga-strip-name {
  margin: 0 0 8px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  display: block;
  color: var(--TEXT-DIM-ACTIVE);
}

.most-viewed-manga-strip-lhs {
  display: flex;
  margin-bottom: 8px;
}

.most-view-manga-strip {
  padding: 8px 0 0 8px;
  border-radius: 6px;
}

.most-viewed-manga-strip-details {
  padding-left: 16px;
}
.most-viewed-manga-strip-lhs-img-container {
  height: fit-content;
}
.most-viewed-manga-strip-lhs-img {
  height: 80px;
  width: auto;
}

.most-viewed-sub-text {
  display: flex;
  font-size: 14px;
  margin-bottom: 16px;
}

.ml-8 {
  padding-left: 8px;
  color: var(--SECONDARY);
}

.most-viewed-genre {
  color: var(--TEXT-DIM-ACTIVE);
}

.most-viewed-chapter-updates > a {
  margin: 8px 0 16px;
}
/* most viewed css end */

/* manga viewer css start */
.manga-viewer {
  /* max-width: var(--MAX-WIDTH); */
  position: relative;
  margin: auto;
  display: flex;
  background: url(./assets/manga_bg_blur.jpg) no-repeat center center fixed;
}

.blur-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(2px);
}

.manga-viewer-details-panel {
  width: 100%;
  max-width: 256px;
}

.manga-viewer-chapters-volumes-panel {
  width: 100%;
  max-width: 320px;
}

.manga-viewer-panel {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.manga-viewer-current-page {
  height: 85vh;
  width: auto;
}

.manga-viewer-controls {
  display: flex;
  color: var(--TEXT-DIM-ACTIVE);
  justify-content: flex-end;
  /* position: relative; */
}
.manga-viewer-controls-prev {
  position: fixed;
  bottom: 32px;
  right: 160px;
  font-size: 32px;
  cursor: pointer;
}

.manga-viewer-controls-next {
  position: fixed;
  bottom: 32px;
  right: 120px;
  font-size: 32px;
  cursor: pointer;
}
/* manga viewer css end */

/* manga details css start */
.manga-details {
  max-width: var(--MAX-WIDTH);
  margin: 16px auto;
  color: var(--TEXT-DIM-ACTIVE);
}
.manga-details-upper {
  display: flex;
  margin-bottom: 16px;
}

.manga-details-rhs {
  padding: 0 32px;
}
.manga-details-chapter-container {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  height: 100%;
  max-height: 400px;
  overflow-y: auto;
  background-color: var(--SECONDARY);
  border-radius: 6px;
  width: fit-content;
}

.manga-details-chapter {
  border-radius: 6px;
  background-color: var(--PRIMARY);
  color: var(--TEXT-DIM-ACTIVE);
  margin: 0 16px 16px 0;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 128px;
  cursor: pointer;
  text-decoration: none;
}

.manga-details-chapter:hover {
  background-color: var(--CHATAK);
}
.manga-details-genre {
  display: flex;
  margin: 16px 0;
}
.manga-details-img {
  width: auto;
  height: 240px;
  border-radius: 6px;
  border: 2px solid var(--TEXT-DIM-ACTIVE);
}

.manga-details-rhs-heading {
  color: var(--TEXT-DIM-ACTIVE);
  margin-top: 0;
}
.manga-details-genra {
  margin-right: 16px;
  padding: 4px 8px;
  border-radius: 6px;
  background-color: var(--SECONDARY);
  color: var(--TEXT-DIM-ACTIVE);
  font-size: 14px;
  text-decoration: none;
}
.manga-details-read-now {
  line-height: 40px;
  padding: 0 20px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--CHATAK);
  color: var(--TEXT-ACTIVE);
  font-family: "Poppins", sans-serif;
}
.manga-details-description {
  margin: 0 0 16px;
  font-size: 14px;
  line-height: 1.3;
  max-width: 500px;
}

.manga-details-search-bar {
  background-color: var(--PRIMARY);
  border: 1px solid var(--SECONDARY);
  height: 48px;
  font-size: 16px;
  padding: 0 8px;
  border-radius: 6px;
  color: var(--TEXT-DIM-ACTIVE);
  width: 320px;
}

.chapters-input-combo {
  background-color: var(--SECONDARY);
  width: fit-content;
  padding: 16px;
  border-radius: 6px;
}

.manga-details-chapter-container::-webkit-scrollbar {
  width: 0px;
}

.manga-details-chapter-container::-webkit-scrollbar-track {
  background: var(--SECONDARY);
}

/* Handle */
.manga-details-chapter-container::-webkit-scrollbar-thumb {
  background: var(--TERTIARY);
  border-radius: 6px;
}

/* Handle on hover */
.manga-details-chapter-container::-webkit-scrollbar-thumb:hover {
  background: var(--CHATAK-ACTIVE);
}

/* manga details css end */

/* footer css start */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 96px;
  margin-top: 16px;
}
.love-website {
  color: var(--TEXT-DIM-ACTIVE);
  font-size: 14px;
}
.logo.active {
  margin: 0;
}
.love-website > .fa-heart {
  color: var(--CHATAK-ACTIVE);
  margin-left: 8px;
}
/* footer css end */
